# Documentation
HELP.md

# Compiled files & Build artifacts
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# IDE-specific files (Eclipse / Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Logs & Temp files
logs/
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# Maven-related
.mvn/
!.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# FFmpeg and other binaries
ffmpeg-6.1.zip

# Environment variables & secret configs
.env
application.properties
application.yml
application-*.yml
